<!DOCTYPE html>
<html>
<head>
  <title>Rails3Bootstrapapp1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row" style="background-color:#151515;">
  		<div class="span3">
    		<h1 align="center" style="color:white;">Heading</h1>
  		</div>
  		<div class="span3 offset6" style="color:white;">
    		<ul class="nav nav-pills" style="margin:0px;padding:0px;">
  				<li class="disabled"><a href="#">Home</a></li>
  			</ul>
  		</div>
	</div>

	<div class="row">
  		<div class="span12">
    		<%= yield %>
  		</div>
	</div>
</body>
</html>
